name: Build & Deploy

on:
    push:
        branches: [deploymentaction]

jobs:
    deploy:
        runs-on: ubuntu-latest
        env:
            CLIENT_SECRET: "${{ secrets.CLIENT_SECRET }}"
            CLIENT_ID: "${{ secrets.CLIENT_ID }}"
            SECRET_KEY: "${{ secrets.SECRET_KEY }}"
            DB_PASSWORD: "${{ secrets.DB_PASSWORD }}"
        steps:
            - name: Deploy app
              uses: appleboy/ssh-action@v0.1.2
              with:
                  host: ${{secrets.SSH_HOST]} # IP address of the server you wish to ssh into
                  key: ${{secrets.SSH_KEY}} # Private or public key of the server
                  username: ${{ secrets.SSH_USERNAME } # User of the server you want to ssh into
                  script:
                    - mkdir fedor_zhydok_project
                    - cd fedor_zhydok_project
                    - git init
                    - git remote add origin git@github.com:FileTrunk/FileTrunk.git
                    - git checkout main
                    - git pull
                    - sh deploy.sh
