name: Test

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
        CLIENT_SECRET: "${{ secrets.CLIENT_SECRET }}"
        CLIENT_ID: "${{ secrets.CLIENT_ID }}"
        SECRET_KEY: "${{ secrets.SECRET_KEY }}"
        DB_PASSWORD: "${{ secrets.DB_PASSWORD }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: |
          pip install poetry
          cd backend
          poetry export -f requirements.txt --dev > requirements.txt
          pip install -r requirements.txt
          pip install psycopg2-binary
          sudo apt -y install python3-psycopg2

      - name: Run tests
        run: |
          printenv CLIENT_SECRET
          printenv CLIENT_ID
          printenv SECRET_KEY
          printenv DB_PASSWORD
          export DB_USER="postgres"
          export DB_HOST="127.0.0.1"
          export DB_NAME="test"
          cd backend
          pytest

    services:
      database:
        image: postgres
        env:
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_USER: postgres
          POSTGRES_DB: test
        ports:
          - 5432:5432

      broker:
        image: redis
